# SQL

## 参考文献

* https://www.w3schools.com/sql/default.asp

## DML

Data Manipulation Language.

## DDL

Data Definition Language.

### 表

### 创建表

```sql
create table test_index (
    id int auto_increment primary key comment '主键',
    create_time datetime not null comment '创建时间',
    update_time datetime not null comment '更新时间'
)engine=InnoDB default charset=utf8mb4;
```

### 查看表



```sql
--查看表创建详情：
show create table table_name \G;
describe table_name;

--查看所有表：
show tables;
```

### 修改表

```sql
--修改column
alter table table_name modify column column_name data_type comment "";

--添加column
alter table table_name add column column_name data_type comment "" after column_name;
```

### 删除表

```sql
drop table `table_name`;
```

### 索引

#### 创建索引

```sql
--创建普通索引：
alter table `table_name` add index `index_name`(`colume_name`);

--创建多列索引：
alter table `table_name` add index `index_name`(`col1_name`, `col2_name`, `col3_name`);

--创建唯一索引：
alter table `table_name` add unique index `index_name`(`col_name`);
```

#### 查看索引

```sql
show index from `table_name`;
```

#### 删除索引

```sql
drop index `index_name` on `table_name`;
```

#### 重名命名索引

```sql
alter table `table_name` rename index `old_name` to `new_name`;
```

## 导出数据

```shell
mysqldump -h IP地址 -P 端口  -u用户名 -p密码 --no-data --databases 数据库名称 > 数据库名称.sql
```